arrow==0.7.0
beautifulsoup4==4.4.1
binaryornot==0.4.0
chardet==2.3.0
click==6.6
common==0.1.2
cookiecutter==1.4.0
cookiejar==0.0.1
Django==1.9.5
django-appconf==1.0.1
django-categories==1.4.1
django-ckeditor==5.0.3
django-countries==3.4.1
django-enumfield==1.3b2
django-extensions==1.6.7
django-imagekit==3.3
django-markdown==0.8.4
django-model-utils==2.5
django-mptt==0.8.5
django-mptt-admin==0.4.0
django-related-admin==0.3.1
djangorestframework==3.4.0
DjangoSEO==1.0
easy-thumbnails==2.3
enum34==1.1.6
future==0.15.2
graphviz==0.4.10
Jinja2==2.8
jinja2-time==0.1.0
Markdown==2.6.6
MarkupSafe==0.23
mysqlclient==1.3.7
nltk==3.2.1
numpy==1.11.0
pager==3.3
panda==0.3.1
pandas==0.18.1
pilkit==1.1.13
Pillow==3.2.0
poyo==0.1.0
psycopg2==2.6.2
pydot==1.1.0
pyparsing==2.1.5
python-dateutil==2.5.2
pytz==2016.4
requests==2.9.1
six==1.10.0
ujson==1.35
unicode-slugify==0.1.1
urlopen==1.0.0
whichcraft==0.1.1
