{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p class="error">Sorry !</p>
{% endif %}

<form action="/accounts/auth/" method="post">{% csrf_token %}

<!--div class="jumbotron"!-->
<div class="container">
<div class="row">
<!--div class="col-lg-4"></div!-->
<div class="col-lg-4">
<div class="form-group">

      <label for="username">UserName :</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter Name">
      <br><br>
 
<label for="password">Password : </label>
<!--input type="password" name="password" value="" id="password"!-->
<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
<br><br>

<div class="checkbox">
      <label><input type="checkbox"> Remember me Please </label>
    </div>
<fieldset id="group1">
	<input type="radio" value="Patient" name="group1" checked="checked">Patient</input>
	<input type="radio" value="Doctor" name="group1">Doctor</input>
	<input type="radio" value="Pharmacist" name="group1">Pharmacist</input>
	<input type="radio" value="Employee" name="group1">Employee</input>
</fieldset>
<br><br>
<div class="col-xs-6 col-md-3">
<p><input  class="btn btn-primary btn-lg"  type="submit"  value="Login"></p>

</div>
<div class="col-xs-6 col-md-3  col-md-offset-1 col-sm-offset-1">
<p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/accounts/register/" role="button">Register Please </a></p>

</div>
</div>
</div>

<div class="col-md-8">
<img src="/static/images/hms.jpg"  height="200px" width="400px"  class="pull-left-left"><br><br>
</div>

</div></div>
</form>

{% endblock %}